body {
    background-color: white;
}



h1 {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    justify-items: center;
}


.the_suits {
    margin-top: 0.5em;
}

.the_shoes {
    margin-top: 0.5em;
}
.grid-item {
    border-radius: 1.5em;
    border: 2px solid black;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.the_pants {
    margin-top: 0.5em;
}

.picture {
    height: 300px;
    width: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    justify-items: center;
}

.grid-item {
    border-radius: 1.5em;
    border: 2px solid black;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.the_pants {
    margin-top: 0.5em;
}

.picture {
    height: 300px;
    width: 200px;
}


.the_bags {
    flex-basis: 50%;
    text-align: center;
}
.the_pants{
    border-radius :1.5em;
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
    margin-bottom: 1em;
}



.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    justify-items: center;
}

.grid-item {
    border-radius: 1.5em;
    border: 2px solid black;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.suit{
    border-radius :1.5em;
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
    margin-bottom: 1em;
}

.bags{
    border-radius: 1.5em;
    border: 2px solid black;
    padding : 1em;
    margin: 1em;
    margin-bottom: 1em;
   
}
.shoes{
    border-radius: 1.5em;
    border: 2px solid black;
    padding : 1em;
    margin: 1em;
    margin-bottom: 1em;   
}
.eye_wear{
    border-radius: 1.5em;
    border: 2px solid black;
    padding : 1em;
    margin: 1em;
    margin-bottom: 1em;  
}
.Formal_wear{
    border-radius: 1.5em;
    border: 2px solid black;
    padding : 1em;
    margin: 1em;
    margin-bottom: 1em;  
}
.bags{
    border-radius: 1.5em;
    border: 2px solid black;
    padding : 1em;
    margin: 1em;
    margin-bottom: 1em;   
} 

.The_collection{
    display: flex;
}
.picture{
    height: 200px;
    width:200px;
}
/* .head{
    text-align: center;
} */
.women {

    display: flex;
  
}
.bags-shoes {
   
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
 
}
.bags {
    border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
   
    

}
.shoes {
    border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
}

.sleepwear-swimwear {
    
   
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
}
.sleepwear {
    border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
}
.swimwear {
    
    border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
}




.tops-accessories {
    
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
    
}
.tops {
    border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
    
}
.access {
    border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
    
}



/* 
.head-2{
    text-align: center;
}
 */









.bags2{
    display: flex;
}

.bagg2{
    border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
}
.bagg3{

    border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;

}

    .bagg4{
        border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
    }
    .bagg5{
        border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
    }
    
    /* .head-3{
        text-align: center;
    } */
    .sleep2{
        border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
    }
    .sleep3{
        border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
    }
    .sleep4{
        border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
    }
    .sleep5{
        border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
    }
    .sleepwear2{

    display: flex;
  
}

.top1{
    border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
}
.top2{
    border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
}

.top3{
    border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
}

.top4{
    border: 1px solid black;
    padding:1em;
    margin:1em;
    margin-bottom: 1.5em;
    border-radius:1.5em;
}
.tops2{
    display: flex;
}

/* 
@media (min-width:580px) {
    .women-catalogue{
        
    }
} */
